	
	{% extends "base.html" %}
	{% load crispy_forms_tags %}
	{% load static %}
	{% block head_title %}Welcome |{% endblock %}
	<style type="text/css">
		{% block style %}
			

		{% endblock %}
	</style>

	{% block jumbotron_content %}
	<div class="jumbotron">
	<div class="row">
	<div class="col-sm-6">
	
        <h2>Zurdo Developers</h2>
        <p>This MVP Landing project is designed to get your project started. The goal is to help you launch as soon as possible with the least amount of investment using time or money. so, Join Us today </p>
        <p>
          <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">Join US &raquo;</a>
        </p>
        </div>
        <div class="col-sm-6" style="background-color:black;height:300px;">
        	

        </div>
        </div>
      </div>
	{% endblock %}

{% block content %}

<div class="row">

	<div class = "col-sm-3 pull-right">
	<p class="lead text-align-center">{{title}}</p>

	<form method="POST" action="">{% csrf_token %}
	{{form|crispy}}
	<input class="btn btn-lg btn-primary" type="submit" value="Submit">
</form>
</div>
<div class="col-sm-3">
		
		<p class="lead text-align-center">Built with Django &amp; Bootstrap</p>
	</div>
	<div class="col-sm-3">
		
		<p class="lead text-align-center">created for stater for all kinds</p>
	</div>
	<div class="col-sm-3">
		
		<p class="lead text-align-center">Always open source</p>
	</div>
</div>
{% endblock %}